 .main_container1{
   border: solid 4px #0A6964;
   padding-bottom: 80px;
	background: linear-gradient(270deg, #08275E, #327330);
	background-size: 500% 500%;
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
	-webkit-animation: GradientAnimation 15s ease infinite;
	-moz-animation: GradientAnimation 15s ease infinite;
	animation: GradientAnimation 15s ease infinite;
	overflow: hidden;
   margin-top: 0;
   
}
.container{
	 position: relative;
   opacity: 0.35;
  

}
.ripple1, .ripple2, .ripple3{
	position: absolute;
  display: inline;
	right: -15%;
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #00ffff 0%, rgba(0, 0, 255, 0) 50%, #0000ff 95%);
	background-position: center center;
	-webkit-animation: radar 5s ease infinite;
	-moz-animation: radar 5s ease infinite;
	animation: radar 5s ease infinite;
	-webkit-border-radius: 100%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 100%;
	-moz-background-clip: padding;
	border-radius: 55%;
	background-clip: padding-box;
}
.ripple2{
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.ripple3{
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
@-webkit-keyframes GradientAnimation{
	0%{
		background-position: 0% 48%;
	}
	50%{
		background-position: 100% 53%;
	}
	100%{
		background-position: 0% 48%;
	}
}
@-moz-keyframes GradientAnimation{
	0% {
    background-position: 0% 48%;
  	}
  	50% {
    	background-position: 100% 53%;
  	}
 	100% {
    	background-position: 0% 48%;
  	}
}
@keyframes GradientAnimation{
	0% {
    	background-position: 0% 48%;
  	}
  	50% {
    	background-position: 100% 53%;
  	}
  	100% {
    	background-position: 0% 48%;
  	}
}

@keyframes radar{
	1%{
		width: 0vh;
		height: 0vh;
		margin-left: 0vh;
		margin-top: 0vh;
	}
	100%{
		width: 200vh;
		height: 200vh;
		margin-left: -100vh;
		margin-top: -100vh;
	}
}
@-webkit-keyframes radar{
	1% {
    	width: 0vw;
    	height: 0vw;
    	margin-left: 0vw;
    	margin-top: 0vw;
  	}
  	100% {
    	width: 200vw;
    	height: 200vw;
    	margin-left: -100vw;
    	margin-top: -100vw;
  	}
}
h1{
  padding-top: 65px;
  padding-left: 50px;
  margin-top: 1%; 
  color: #B8EFF5;
  font-size: 65px;
  font-family: 'Yatra One', cursive;
  
}
.logo{
  position: absolute;
  right: 4%;
  top: 4%;
  padding-bottom: 0%;
  margin-bottom: 4%;
  
}

/* navbar next */
/*
*{
  border: 5px solid rgba(0,0,0,0.3)
} */
.navbar{
  padding-top: 0;
  margin-top: 0;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: solid 3px #0A6964;
}

li {
    float: left;
}

li a {
    font-size: 30px;
    display: inline;
    color: #B8EFF5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
   background-color: #7CD4F7;
  
}
.header{
  margin-right: 20%;
  
}
.content-bkgn{
    width: 100%;
    height: 100vh;
    background-image: url('http://www.cs.st-andrews.ac.uk/i@100/images/iot.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.90; 
  
  
}
